In [4]:
import pandas as pd
import numpy as np
import seaborn as sb
import matplotlib.pyplot as plt
import utils
from utils import *
import sweetviz as sv

In [5]:
train = pd.read_csv('../input/train.csv')
test = pd.read_csv('../input/test.csv')

In [6]:
print(train.shape)
print(test.shape)

(141060, 23)
(124628, 22)

In [7]:
reporte = sv.analyze(train)

Done! Use 'show' commands to display/save.   |██████████| [100%]   00:00 -> (00:00 left)

In [8]:
reporte.show_html('reportetrain.html')

Report reportetrain.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.

In [10]:
train.head()

,id,campaign_id,coupon_id,customer_id,redemption_status,date,item_id,quantity,selling_price,other_discount,...,category,age_range,marital_status,rented,family_size,no_of_children,income_bracket,campaign_type,start_date,end_date
0,15,29,538,368,0,2013-05-30,9962,1,45.95,0.00,...,Grocery,36-45,NaN,0.0,1,NaN,5.0,Y,08/10/12,30/11/12
1,15,29,538,368,0,2013-05-30,29027,1,45.95,0.00,...,Grocery,36-45,NaN,0.0,1,NaN,5.0,Y,08/10/12,30/11/12
2,21,13,1028,89,0,2012-06-24,52056,1,71.24,-28.14,...,Grocery,46-55,NaN,0.0,1,NaN,3.0,X,19/05/13,05/07/13
3,22,9,705,712,0,2013-06-11,4904,1,113.63,-39.18,...,Grocery,46-55,Married,0.0,3,1,5.0,Y,11/03/13,12/04/13
4,22,9,705,712,0,2013-06-20,4904,1,113.63,-39.18,...,Grocery,46-55,Married,0.0,3,1,5.0,Y,11/03/13,12/04/13

In [14]:
train.loc[:, 'brand_type'].head()

0    Established
1    Established
2    Established
3    Established
4    Established
Name: brand_type, dtype: object

In [15]:
my_report = sv.compare([train, "Training Data"], [test, "Test Data"], "redemption_status")

Done! Use 'show' commands to display/save.   |██████████| [100%]   00:01 -> (00:00 left)

In [16]:
my_report.show_html('reportetrain.html')

Report reportetrain.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.