In [1]:
import pandas as pd
import numpy as np
import seaborn as sb
import matplotlib.pyplot as plt
import utils
from utils import *

In [2]:
train = pd.read_csv('../input/train.csv')
campaign = pd.read_csv('../input/campaign_data.csv')
items = pd.read_csv('../input/item_data.csv')
coupons = pd.read_csv('../input/coupon_item_mapping.csv')
cust_demo = pd.read_csv('../input/customer_demographics.csv')
cust_tran = pd.read_csv('../input/customer_transaction_data.csv')
test = pd.read_csv('../input/test.csv')
df=pd.read_csv('../input/final_train.csv')
data=pd.read_csv('../input/smote.csv')

In [3]:
itm_cpn = pd.merge(items, coupons, on='item_id')

In [4]:
itm_cpn.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 92663 entries, 0 to 92662
Data columns (total 5 columns):
item_id       92663 non-null int64
brand         92663 non-null int64
brand_type    92663 non-null object
category      92663 non-null object
coupon_id     92663 non-null int64
dtypes: int64(3), object(2)
memory usage: 4.2+ MB

In [5]:
itm_cpn[['item_id', 'coupon_id']].groupby(['item_id']).count().reset_index()

       item_id  coupon_id
0            1          2
1            4          3
2            7          2
3           10          4
4           12          2
...        ...        ...
36284    74054          4
36285    74056          2
36286    74057          2
36287    74058          2
36288    74061          2

[36289 rows x 2 columns]

In [6]:
itm_cpn[['coupon_id', 'item_id']].groupby(['coupon_id']).count().reset_index()

      coupon_id  item_id
0             1       39
1             2        2
2             3       17
3             4       24
4             5        7
...         ...      ...
1111       1112        6
1112       1113       15
1113       1114        3
1114       1115        7
1115       1116        2

[1116 rows x 2 columns]

In [7]:
itm_cpn.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 92663 entries, 0 to 92662
Data columns (total 5 columns):
item_id       92663 non-null int64
brand         92663 non-null int64
brand_type    92663 non-null object
category      92663 non-null object
coupon_id     92663 non-null int64
dtypes: int64(3), object(2)
memory usage: 4.2+ MB

In [8]:
cust_tran.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1324566 entries, 0 to 1324565
Data columns (total 7 columns):
date               1324566 non-null object
customer_id        1324566 non-null int64
item_id            1324566 non-null int64
quantity           1324566 non-null int64
selling_price      1324566 non-null float64
other_discount     1324566 non-null float64
coupon_discount    1324566 non-null float64
dtypes: float64(3), int64(3), object(1)
memory usage: 70.7+ MB

In [9]:
cust_tran_cpn = pd.merge(cust_tran, itm_cpn, on='item_id')

In [10]:
cust_tran_cpn.shape

(2101361, 11)

In [11]:
train.head()

   id  campaign_id  coupon_id  customer_id  redemption_status
0   1           13         27         1053                  0
1   2           13        116           48                  0
2   6            9        635          205                  0
3   7           13        644         1050                  0
4   9            8       1017         1489                  0

### TRAIN DATA

In [12]:
tr_cust_tran_cpn = pd.merge(train, cust_tran_cpn, on = ['coupon_id', 'customer_id'])

In [13]:
tr_cust_tran_cpn.shape

(141060, 14)

In [14]:
dem_tr_cust_tran_cpn = pd.merge(tr_cust_tran_cpn, cust_demo, on = ['customer_id'], how='left')

In [15]:
dem_tr_cust_tran_cpn.shape

(141060, 20)

In [16]:
cp_dem_tr_cust_tran_cpn = pd.merge(dem_tr_cust_tran_cpn, campaign, on = ['campaign_id'], how='left')

In [17]:
cp_dem_tr_cust_tran_cpn.shape

(141060, 23)

### TEST DATA

In [18]:
ts_cust_tran_cpn = pd.merge(test, cust_tran_cpn, on = ['coupon_id', 'customer_id'])

In [19]:
ts_cust_tran_cpn.shape

(124628, 13)

In [20]:
dem_ts_cust_tran_cpn = pd.merge(ts_cust_tran_cpn, cust_demo, on = ['customer_id'], how='left')
cp_dem_ts_cust_tran_cpn = pd.merge(dem_ts_cust_tran_cpn, campaign, on = ['campaign_id'], how='left')

In [21]:
cp_dem_ts_cust_tran_cpn.shape

(124628, 22)

In [22]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 155280 entries, 0 to 155279
Data columns (total 42 columns):
coupon_id              155280 non-null float64
customer_id            155280 non-null float64
brand                  155280 non-null float64
brand_type             155280 non-null float64
category               155280 non-null float64
cd_sum                 155280 non-null float64
coupon_discount_x      155280 non-null float64
coupon_used_x          155280 non-null float64
item_counts            155280 non-null float64
no_of_customers        155280 non-null float64
od_sum                 155280 non-null float64
other_discount_x       155280 non-null float64
price_sum              155280 non-null float64
qu_sum                 155280 non-null float64
quantity_x             155280 non-null float64
selling_price_x        155280 non-null float64
t_counts               155280 non-null float64
total_discount_mean    155280 non-null float64
total_discount_sum     155280 non-null float64
campaign_type          155280 non-null float64
campaign_duration      155280 non-null float64
age_range              155280 non-null float64
marital_status         155280 non-null float64
rented                 155280 non-null float64
family_size            155280 non-null float64
no_of_children         155280 non-null float64
income_bracket         155280 non-null float64
coupon_discount_y      155280 non-null float64
coupon_used_y          155280 non-null float64
day                    155280 non-null float64
dow                    155280 non-null float64
no_of_items            155280 non-null float64
month                  155280 non-null float64
other_discount_y       155280 non-null float64
quantity_y             155280 non-null float64
selling_price_y        155280 non-null float64
cdd_sum                155280 non-null float64
customer_id_count      155280 non-null float64
odd_sum                155280 non-null float64
qa_sum                 155280 non-null float64
pprice_sum             155280 non-null float64
redemption_status      155280 non-null int64
dtypes: float64(41), int64(1)
memory usage: 49.8 MB

In [23]:
cp_dem_tr_cust_tran_cpn.loc[:, 'redemption_status'].value_counts()

0    121602
1     19458
Name: redemption_status, dtype: int64

In [24]:
cp_dem_tr_cust_tran_cpn.to_csv('../input/train.csv', index = False)
cp_dem_ts_cust_tran_cpn.to_csv('../input/test.csv', index = False)